--text-colour: #e6e6e6;
--background: #3b1c32;
--nav-background: #A64D79;

--code-background: #1E1E1E;
--code-keyword: #C586C0;
--code-type: #569CD6;
--code-literal: #569CD6;
--code-number: #B5CEA8;
--code-punctuation: var(--text-color);
--code-operator: var(--text-color);
--code-string: #CE9178;
--code-symbol: #569CD6;
--code-variable: #DCDCAA;
--code-constant: #4FC1FF;
--code-class: #4EC9B0;
--code-comment: #6A9955;
--code-macro: #569CD6;
--code-diff: #d2a8ff;

--code-highlight: rgba(255,255,0,0.1);
--code-add: rgba(0,255,0,0.15);
--code-remove: rgba(255,0,0,0.3);