--text-colour: #e6e6e6;
--background: #3b1c32;
--nav-background: #A64D79;
--icon-filter: var(--light-icon-filter);
--code-background: #1e1e1e;
--code-keyword: #569cd6;
--code-comment: #6A9955;
--code-label: #569CD6;
--code-constructor: #4FC1FF;
--code-string: #CE9178;
--code-type: #DCDCAA;