--text-colour: black;
--background: #E6D1F2;
--nav-background: #b19cd8;
--code-background: #FFFFFF;
--code-keyword: #0000FF;
--code-comment: #008000;
--code-label: #0000FF;
--code-constructor: #0070C1;
--code-string: #A31515;
--code-type: #795E26;