--text-colour: black;
--background: #E6D1F2;
--nav-background: #b19cd8;

--code-background: #FFFFFF;
--code-keyword: #0000FF;
--code-type: #0000FF;
--code-literal: #0000FF;
--code-number: #098658;
--code-punctuation: var(--text-color);
--code-operator: var(--text-color);
--code-string: #A31515;
--code-symbol: #0000FF;
--code-variable: #001080;
--code-constant: #001080;
--code-class: #267F99;
--code-comment: #008000;
--code-macro: #0000FF;
--code-diff: #8250df;

--code-highlight: rgba(255,255,0,0.4);
--code-add: rgba(0,255,0,0.15);
--code-remove: rgba(255,0,0,0.15)