:root {
    --body-margin: 0.5rem;
    --max-width: 37rem;
    --side-padding: max(var(--body-margin) + (100% - var(--max-width)) / 2,
            var(--body-margin));
}

:root:has(#theme>option[value="Automatic"]:checked) {
    @media (prefers-color-scheme: dark) {
        {% include './assets/themes/dark.jinja.css' %}
    }
    @media (prefers-color-scheme: light) {
        {% include './assets/themes/dark.jinja.css' %}
    }
}

:root:has(#theme>option[value="Light"]:checked) {
    {% include './assets/themes/light.jinja.css' %}
}

:root:has(#theme>option[value="Dark"]:checked) {
    {% include './assets/themes/dark.jinja.css' %}
}

html {
    font-size: 1.1rem;
    font-family: 'EB Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/EBGaramond-VariableFont_wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: var(--background);
    min-height: 100%;

    &>main {
        max-width: var(--max-width);
        padding: 0 var(--body-margin) var(--body-margin);
        box-sizing: border-box;
        flex-grow: 1;

        &,
        &:first-child {
            margin-top: 0;
        }
    }

    * {
        width: 100%;
        box-sizing: border-box;
    }
}

header,
footer {
    margin: 0;
    padding: 0;
    max-width: none;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em var(--side-padding);
    background: var(--nav-background);
}

header nav a {
    color: var(--text-colour);
    font-size: 1.5em;
    text-decoration: none;
    font-style: normal;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    margin-bottom: 0.5em;
    padding: 0 var(--side-padding);
}

header p {
    padding: 0 var(--side-padding);
    margin-bottom: 0;
}

header p, footer nav {
    font-size: 0.8em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-bottom: 0;
    }

    >:not(nav) {
        max-width: var(--max-width);
        padding: 0 var(--body-margin) var(--body-margin);
    }

    ol {
        list-style-position: inside;
        padding-inline-start: 0;
    }

    hr {
        padding-bottom: 0;
        max-width: calc(var(--max-width) - 2 * var(--body-margin));
    }

    nav {
        display: block;

        a+a {
            margin-inline-start: 1em;
        }
    }
}

p,
li {
    line-height: 1.5em;
    color: var(--text-colour);
}

code {
    color: var(--text-colour);
    font-size: 0.91rem;
}

a {
    color: var(--text-colour);
    font-style: italic;
}

@counter-style empty-style {
    system: extends decimal;
    suffix: " ";
}

pre {
    font-size: 1rem;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0.5em 0.5em 0.5em 0;
    background: var(--code-background);
    border-radius: 10px;

    ol {
        list-style: empty-style;
        list-style-position: outside;
        padding-inline-start: revert;
    }

    li {
        border-left: 1px var(--text-colour) solid;
        padding-left: 0.5em;
    }

    .background {
        color: var(--code-background);
    }

    .keyword {
        color: var(--code-keyword);
    }

    .type {
        color: var(--code-type);
    }

    .literal {
        color: var(--code-literal);
    }

    .number {
        color: var(--code-number);
    }

    .punctuation {
        color: var(--code-punctuation);
    }

    .operator {
        color: var(--code-operator);
    }

    .string {
        color: var(--code-string);
    }

    .symbol {
        color: var(--code-symbol);
    }

    .variable {
        color: var(--code-variable);
    }

    .constant {
        color: var(--code-constant);
    }

    .class {
        color: var(--code-class);
    }

    .comment {
        color: var(--code-comment);
    }

    .macro {
        color: var(--code-macro);
    }

    .diff {
        color: var(--code-diff);
    }

    li.line-highlight {
        background-color: var(--code-highlight);
    }

    li.line-add {
        background-color: var(--code-add);
    }

    li.line-remove {
        background-color: var(--code-remove);
    }
}

hr {
    border-style: solid;
    border-color: var(--text-colour);
    border-width: 1px;
    border-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-colour);
}

ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.posts li a {
    color: var(--text-colour);
    text-decoration: none;
    font-style: normal;
}

ul.posts li a p {
    padding-left: 2em;
    margin-top: 0;
}

ul.posts li a:hover h2 {
    text-decoration: underline;
}

.post-title h2 {
    margin: 0;
    display: inline;
}

.post-title time {
    font-size: 0.8em;
    color: var(--text-colour);
    padding-left: 0.5em;
    white-space: nowrap;
}

.footnote-reference sup {
    color: var(--text-colour);
    margin-left: 0.25em;
    vertical-align: top;
    font-size: small;
    position: relative;
    top: -0.2em;
    font-style: normal;
    text-underline-position: under;
}

.footnote-definition p {
    display: inline;
}

.footnote-definition {
    margin-block-start: 1em;
}

.footnote-definition-label {
    color: var(--text-colour);
}

.theme-container {
    text-align: right;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: var(--text-colour);

    select {
        width: auto
    }

    select,
    ::picker(select) {
        appearance: base-select;
        border: none
    }
}

svg path {
    stroke: var(--text-colour) !important
}

svg text,
svg polygon {
    fill: var(--text-colour) !important
}
