:root {
    --body-margin: 0.5em;
    --max-width: 600px;

    --text-colour: black;
    --reduced-colour: #808080;
    --background: #E6D1F2;
    --nav-background: #b19cd8;
    --icon-filter: brightness(0);

    /* optimised base64 data url versions of sun.svg and moon.svg in /assets.*/
    --sun-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iNDAiPjxjaXJjbGUgY3g9IjI1MCIgY3k9IjI1MCIgcj0iMTAwIiBmaWxsPSJ0cmFuc3BhcmVudCIvPjxwYXRoIGQ9Ik0yNTAgMHYxMDBtMTc2Ljc3Ny0yNi43NzctNzAuNzExIDcwLjcxMU01MDAgMjUwSDQwMG0yNi43NzcgMTc2Ljc3Ny03MC43MTEtNzAuNzExTTI1MCA1MDBWNDAwTTczLjIyMyA0MjYuNzc3bDcwLjcxMS03MC43MTFNMCAyNTBoMTAwTTczLjIyMyA3My4yMjNsNzAuNzExIDcwLjcxMSIvPjwvc3ZnPg==");
    --moon-img: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iNDAiPjxwYXRoIGQ9Ik0yNzUuNTY1IDI3Ljg2YTIyNSAyMjUgMCAxIDAgMTM2LjgwOCAzNzUuODc3QTIwMCAyMDAgMCAxIDEgMjc1LjU2NSAyNy44NTlaIiBmaWxsPSJ0cmFuc3BhcmVudCIvPjwvc3ZnPg==");
    --light-icon-filter: brightness(0) saturate(100%) invert(97%) sepia(2%) saturate(30%) hue-rotate(314deg) brightness(92%) contrast(102%);
}

:root:has(#light:checked) {
    --text-colour: #e6e6e6;
    --reduced-colour: #e6e6e6;
    --background: #3b1c32;
    --nav-background: #A64D79;
    --icon-filter: var(--light-icon-filter);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-colour: #e6e6e6;
        --reduced-colour: #e6e6e6;
        --background: #3b1c32;
        --nav-background: #A64D79;
        --icon-filter: var(--light-icon-filter);
    }

    :root:has(#light:checked) {
        --text-colour: black;
        --reduced-colour: #808080;
        --background: #E6D1F2;
        --nav-background: #b19cd8;
        --icon-filter: brightness(0);
    }
}

html {
    font: 1em sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: var(--background);
}

body> :not(nav) {
    min-width: calc(min(var(--max-width), 100% - 2 * var(--body-margin)));
    max-width: var(--max-width);
    padding: 0 var(--body-margin) var(--body-margin);
    box-sizing: border-box;
}

nav {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background: var(--nav-background);
    padding-bottom: 1.5em;
}

nav a {
    color: var(--text-colour);
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    margin-bottom: 0;
}

header,
footer,
main {
    width: 100%;
}

p {
    line-height: 1.5em;
    color: var(--text-colour);
}

code {
    color: var(--text-colour);
}

hr {
    border-style: solid;
    border-color: var(--text-colour);
    border-width: 1px;
    border-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-colour);
}

header p,
footer {
    font-size: 0.8em;
    color: var(--reduced-colour);
}

main,
main :first-child {
    margin-top: 0;
}

ul.posts {
    list-style-type: none;
    margin: 0;
}

ul.posts li a {
    color: var(--text-colour);
    text-decoration: none;
}

ul.posts li a p {
    padding-left: 2em;
}

ul.posts li a:hover h2 {
    text-decoration: underline;
}

.post-title {
    display: flex;
    align-items: baseline;
}

.post-title h2 {
    margin: 0;
}

.post-title time {
    font-size: 0.8em;
    color: var(--reduced-colour);
    padding-left: 0.5em;
}

.footnote-reference a {
    color: var(--text-colour);
    margin-left: 0.25em;
}

.footnote-definition p {
    display: inline;
}

.footnote-definition {
    margin-block-start: 1em;
}

.footnote-definition-label {
    color: var(--text-colour);
}

#light {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    transform: translateY(0.3em);
    cursor: pointer;
    filter: var(--icon-filter);
}

#light:not(:checked) {
    background: var(--sun-img);
}

#light:checked {
    background: var(--moon-img);
}

@media (prefers-color-scheme: dark) {
    #light:not(:checked) {
        background: var(--moon-img);
    }

    #light:checked {
        background: var(--sun-img);
    }
}