:root {
    --body-margin: 0.5rem;
    --max-width: 37rem;
    --side-padding: max(calc(var(--body-margin) + (100% - var(--max-width)) / 2),
            var(--body-margin));
}

:root:has(#theme>option[value="Automatic"]:checked) {
    @media (prefers-color-scheme: dark) {
        --text-colour: #e6e6e6;
--background: #3b1c32;
--nav-background: #A64D79;
--icon-filter: var(--light-icon-filter);
--code-background: #1e1e1e;
--code-keyword: #569cd6;
--code-comment: #6A9955;
--code-label: #569CD6;
--code-constructor: #4FC1FF;
--code-string: #CE9178;
--code-type: #DCDCAA;
    }
    @media (prefers-color-scheme: light) {
        --text-colour: #e6e6e6;
--background: #3b1c32;
--nav-background: #A64D79;
--icon-filter: var(--light-icon-filter);
--code-background: #1e1e1e;
--code-keyword: #569cd6;
--code-comment: #6A9955;
--code-label: #569CD6;
--code-constructor: #4FC1FF;
--code-string: #CE9178;
--code-type: #DCDCAA;
    }
}

:root:has(#theme>option[value="Light"]:checked) {
    --text-colour: black;
--background: #E6D1F2;
--nav-background: #b19cd8;
--code-background: #FFFFFF;
--code-keyword: #0000FF;
--code-comment: #008000;
--code-label: #0000FF;
--code-constructor: #0070C1;
--code-string: #A31515;
--code-type: #795E26;
}

:root:has(#theme>option[value="Dark"]:checked) {
    --text-colour: #e6e6e6;
--background: #3b1c32;
--nav-background: #A64D79;
--icon-filter: var(--light-icon-filter);
--code-background: #1e1e1e;
--code-keyword: #569cd6;
--code-comment: #6A9955;
--code-label: #569CD6;
--code-constructor: #4FC1FF;
--code-string: #CE9178;
--code-type: #DCDCAA;
}

html {
    font-size: 1.1rem;
    font-family: 'EB Garamond', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/EBGaramond-VariableFont_wght.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: var(--background);
    min-height: 100%;

    &>main {
        max-width: var(--max-width);
        padding: 0 var(--body-margin) var(--body-margin);
        box-sizing: border-box;
        flex-grow: 1;

        &,
        &:first-child {
            margin-top: 0;
        }
    }

    * {
        width: 100%;
        box-sizing: border-box;
    }
}

header,
footer {
    margin: 0;
    padding: 0;
    max-width: none;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em var(--side-padding);
    background: var(--nav-background);
}

header nav a {
    color: var(--text-colour);
    font-size: 1.5em;
    text-decoration: none;
    font-style: normal;
}

nav a:hover {
    text-decoration: underline;
}

header h1 {
    margin-bottom: 0.5em;
    padding: 0 var(--side-padding);
}

header p {
    padding: 0 var(--side-padding);
    margin-bottom: 0;
}

header p, footer nav {
    font-size: 0.8em;
}

footer {
    p {
        margin-bottom: 0;
    }

    >:not(nav) {
        padding: 0 var(--side-padding);
    }

    ol {
        list-style-position: inside;
        padding-inline-start: 0;
    }

    hr {
        width: calc(100% - 2 * var(--side-padding));
    }

    nav {
        display: block;

        a+a {
            margin-inline-start: 1em;
        }
    }
}

p,
li {
    line-height: 1.5em;
    color: var(--text-colour);
}

code {
    color: var(--text-colour);
    font-size: 0.91rem;
}

a {
    color: var(--text-colour);
    font-style: italic;
}

pre {
    font-size: 1rem;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0.5em 0 0.5em calc(3ch + 0.5em);
    background: var(--code-background);
    border-radius: 10px;

    code {
        display: block;
        border-left: 1px solid var(--text-colour);
        padding-left: 0.5em;

        &:first-child {
            counter-reset: line;
            display: inline-block;
        }

        &>span::before {
            content: counter(line);
            content: counter(line) / "";
            counter-increment: line;
            left: calc(-1em - 1px - 3ch);
            position: absolute;
            pointer-events: none;
            width: 3ch;
            word-break: keep-all;
            float: left;
            text-align: right;
            color: var(--text-colour);
        }
    }
}

code code span.keyword {
    color: var(--code-keyword);
}

code span.comment {
    color: var(--code-comment);
}

code span.label {
    color: var(--code-label);
}

code span.constructor,
code span.constant {
    color: var(--code-constructor);
}

code span.type,
code span.function {
    color: var(--code-type);
}

code span.string {
    color: var(--code-string);
}

span.line {
    position: relative;
}

span.line:empty {
    height: 1lh;
    display: inline-block;
}

hr {
    border-style: solid;
    border-color: var(--text-colour);
    border-width: 1px;
    border-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-colour);
}

ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.posts li a {
    color: var(--text-colour);
    text-decoration: none;
    font-style: normal;
}

ul.posts li a p {
    padding-left: 2em;
    margin-top: 0;
}

ul.posts li a:hover h2 {
    text-decoration: underline;
}

.post-title h2 {
    margin: 0;
    display: inline;
}

.post-title time {
    font-size: 0.8em;
    color: var(--text-colour);
    padding-left: 0.5em;
    white-space: nowrap;
}

.footnote-reference sup {
    color: var(--text-colour);
    margin-left: 0.25em;
    vertical-align: top;
    font-size: small;
    position: relative;
    top: -0.2em;
    font-style: normal;
    text-underline-position: under;
}

.footnote-definition p {
    display: inline;
}

.footnote-definition {
    margin-block-start: 1em;
}

.footnote-definition-label {
    color: var(--text-colour);
}

.theme-container {
    text-align: right;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: var(--text-colour);

    select {
        width: auto
    }

    select,
    ::picker(select) {
        appearance: base-select;
        border: none
    }
}

svg path {
    stroke: var(--text-colour) !important
}

svg text,
svg polygon {
    fill: var(--text-colour) !important
}