{% extends "./templates/main.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<header>
    <h1>Posts</h1>
</header>

<ul class="posts">
    {% for post in posts | sort(reverse=true) if ".md" in post %}
        <li>
            <a href="{{ remove_extension(post) }}">
                <div class="post_title">
                    <h2>{{ posts[post]["title"] }}</h2>
                    <time datetime="{{ posts[post]["date"] }}">{{ posts[post]["date"] }}</time>
                </div>
                <p>{{ posts[post]["intro"] }}</p>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}