{% extends "./templates/main.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<header>
    <h1>Posts</h1>
</header>

<ul class="posts">
    {% for post in posts | sort(reverse=true) if ".md" in post %}
        <li>
            <a href="{{ remove_extension(post) }}">
            <h2>{{ posts[post]["title"] }} - {{ posts[post]["date"] }}</h2>
            <p>{{ posts[post]["intro"] }}</p>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}