{% extends "./templates/main.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="/assets/style.css">
{% endblock %}

{% block header %}
<h1>Posts</h1>
{% endblock %}

{% block body %}
<main>
    <ul class="posts">
        {% for (name, post) in posts if ".md" in name %}
        <li>
            <a href="{{ name | remove_extension | safe }}">
                <div class="post-title">
                    <h2>{{ post["title"] }}</h2>
                    <time datetime="{{ post['date'] }}">{{ post['date'] }}</time>
                </div>
                <p>{{ post["intro"] }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}