<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Ella's Writing</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="color-scheme" content="dark light">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <a href="/">Ella's Writing</a>
            <div class="theme-container">
                <label for="theme">Theme: </label>
                <select id="theme" title="Light/dark mode theme toggle">
                    <option value="Automatic">Automatic</option>
                    <option value="Light">Light</option>
                    <option value="Dark">Dark</option>
                </select>
            </div>
            <script>
                {% include './assets/theme.jinja.js' %}
            </script>
        </nav>
        {% block header %}{% endblock %}
    </header>

    {% block body %}{% endblock %}

    <footer>
        {% block footer %}{% endblock %}
        <nav>
            <a href="/rss.xml">RSS</a><a href="/atom.xml">Atom</a>
            <p role="doc-credit">Ella's Writing &copy; 2026 by Ella is licensed under CC BY-SA-NC 4.0</p>
        </nav>
    </footer>
</body>

</html>