{% extends "./templates/main.html" %}

{% block head %}
<meta name="description" content="{{ intro }}" />
<link rel="stylesheet" href="/assets/style.css">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block header %}
<h1>{{ title }}</h1>
<p role="doc-subtitle">Written by Ella on <time datetime="{{ date }}">{{ date }}</time>, without AI</p>
{% endblock %}

{% block body %}
<main>{% autoescape false %}
    {{ content }}{% endautoescape %}
</main>
{% endblock %}

{% block footer %}{% autoescape false %}{{footnotes}}{% endautoescape %}{% endblock %}